{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet fourteen wide computer centered column">
            <h2 class="centered ui header">
                Descriptors
                <div class="sub header">
                    View and edit current resource descriptors.
                </div>
            </h2>

            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="right floated content">
                        <a href="{{ url_for('descriptor.new_descriptor') }}" class="ui button">
                            New Descriptor
                        </a>
                    </div>
                    <div class="content">
                        <div class="ui left icon fluid input">
                            <i class="search icon"></i>
                            <input id="search-descriptors" type="text" placeholder="Search descriptors by name">
                        </div>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled striped table">
                    <thead>
                        <tr>
                            <th class="six wide sorted ascending">Name</th>
                            <th class="five wide sorted ascending">Type</th>
                            <th class="five wide">Values</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in descriptors | sort(attribute='name') %}
                        <tr>
                            <td class="descriptor-name"><a href="{{ url_for('descriptor.descriptor_info', desc_id=d.id) }}">{{ d.name }}</a></td>
                            {% if not d.values %}
                                <td class="descriptor type">Text</td>
                                <td></td>
                            {% else %}
                                <td class="descriptor type">Option</td>
                                <td>{{ ', '.join(d.values) }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
