{% extends 'layouts/base.html' %}

{% block javascript %}
    {% assets 'descriptor_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <h2 class="centered ui header">
                Descriptors
                <div class="sub header">
                    View and edit current resource descriptors.
                </div>
            </h2>

            <div class="ui right action left icon input menu">
                <i class="search icon"></i>
                    <input id="search-descriptors" type="text" placeholder="Search descriptors">
                    <div class="ui basic floating dropdown button">
                        <div class="text">All Descriptors</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="">All Descriptors</div>
                            <div class="item" data-value="Text">Type</div>
                            <div class="item" data-value="Option">Values</div>
                        </div>
                    </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui sortable unstackable selectable celled striped table">
                    <thead>
                        <tr>
                            <th class="six wide sorted ascending">Name</th>
                            <th class="five wide sorted ascending">Type</th>
                            <th class="five wide">Values</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in descriptors | sort(attribute='name') %}
                        <tr>
                            <td><a href="{{ url_for('descriptor.descriptor_info', desc_id=d.id) }}">{{ d.name }}</a></td>
                            {% if not d.values %}
                                <td class="descriptor type">Text</td>
                                <td></td>
                            {% else %}
                                <td class="descriptor type">Option</td>
                                <td>{{ ', '.join(d.values) }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
