{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <div class="ui fluid steps">
                <div class="completed step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">Upload</div>
                        <div class="description">Upload your CSV file</div>
                    </div>
                </div>
                <div class="active step">
                    <i class="configure icon"></i>
                    <div class="content">
                        <div class="title">Configure</div>
                        <div class="description">Review your data</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="save icon"></i>
                    <div class="content">
                        <div class="title">Save</div>
                        <div class="description">Add your data</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="twelve wide column">
            <h2 class="ui header">
                Review
            </h2>
        </div>
        <div class="twelve wide column">
            For each of the columns that you marked as options, we have
            identified the options already present in your CSV file. If
            any of the existing options are incorrect, please edit the original
            CSV file and re-upload it. We will store the options in alphabetical
            order.
        </div>
        <div class="twelve wide column">
            <h5 class="ui header">New Option Descriptor Values</h5>
            <div class="ui relaxed divided list">
                {% for desc in new_opt_descs %}
                <div class="item">
                  <div class="content">
                    <h5 class="header">{{ desc.name }}</h5>
                    {% if desc.value_string() %}
                      <div class="description">{{ desc.value_string() }}</div>
                    {% else %}
                      <div class="description"><i>None specified</i></div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
            </div>

            {% if old_opt_descs %}
              <h5 class="ui header">Existing Option Descriptor Values in CSV</h5>
              <div class="ui relaxed divided list">
                  {% for (desc, old_desc) in old_opt_descs.iteritems() %}
                  <div class="item">
                    <div class="content">
                      <h5 class="header">{{ desc.name }}</h5>
                      {% if desc.value_string() %}
                        <div class="description">In CSV: {{ desc.value_string() }}</div>
                        {% else %}
                        <div class="description">In CSV: <i>None specified</i></div>
                      {% endif %}
                        <div class="description">In app: {{ old_desc.value_string() }}</div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
            {% endif %}
            {{ f.render_form(form) }}
        </div>
    </div>
{% endblock %}
