{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <div class="ui fluid steps">
                <div class="completed step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">Upload</div>
                        <div class="description">Upload your CSV file</div>
                    </div>
                </div>
                <div class="active step">
                    <i class="configure icon"></i>
                    <div class="content">
                        <div class="title">Configure</div>
                        <div class="description">Review your data</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="save icon"></i>
                    <div class="content">
                        <div class="title">Save</div>
                        <div class="description">Add your data</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="twelve wide column">
            <h2 class="ui header">
                Review
            </h2>
        </div>
        <div class="twelve wide column">
            For each of the columns that you marked as options, we have
            identified the options already present in your CSV file. Any
            additional options that you add should be comma-separated. If
            any of the existing options are incorrect, please edit the original
            CSV file and re-upload it. We will store the options in alphabetical
            order.
        </div>
        <div class="twelve wide column">
            {{ f.render_form(form) }}
        </div>
    </div>
{% endblock %}
