{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <div class="ui fluid steps">
                <div class="completed step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">Upload</div>
                        <div class="description">Upload your CSV file</div>
                    </div>
                </div>
                <div class="completed step">
                    <i class="configure icon"></i>
                    <div class="content">
                        <div class="title">Configure</div>
                        <div class="description">Review your data</div>
                    </div>
                </div>
                <div class="active step">
                    <i class="save icon"></i>
                    <div class="content">
                        <div class="title">Save</div>
                        <div class="description">Add your data</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="twelve wide column">
            <h2 class="ui header">
                CSV Upload Workflow
            </h2>
        </div>
        <div class="twelve wide column">
          These are the resources we found that don't have a value for the
          selected required option descriptor <b>{{ required }}</b>. Please
          set a value for these resources.
        </div>
        <div class="twelve wide column">
            {{ f.render_form(form) }}
        </div>
    </div>
{% endblock %}
