{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Upload
            </h2>
            <p>
                The "Reset" mode clears all data in the database
                and sets up a new schema based on the contents of the csv.
                In contrast, the "Update" model only adds resources or updates existing
                resources. In the case when a resource in the csv already
                exists in the database, its data will be replaced with the
                data in the csv.
            </p>
            <form id="csv-upload-form" class="ui form">
                <div class="field">
                    <label for="csv">CSV File</label>
                    <!-- only allow .csv file types -->
                    <input id="csv-file" name="csv" placeholder="CSV File" type="file" accept=".csv">
                </div>
                <div class="inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" id="reset" name="reset-or-update" checked="" tabindex="0" class="hidden">
                      <label>Reset</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" id="update" name="reset-or-update" tabindex="0" class="hidden">
                      <label>Update</label>
                    </div>
                  </div>
                </div>
                <button class="ui disabled button" type="submit" id="upload-button">Upload</button>
            </form>
            <h3 class="ui header">Upload Progress</h3>
            <div class="ui horizontal segments" id="progress-msgs">
              <div class="ui segment">
                <h5 class="ui header green">Success Messages</h5>
                <div class="ui list" id="status-success"></div>
              </div>
              <div class="ui segment">
                <h5 class="ui header red">Error Messages</h5>
                <div class="ui list" id="status-errors"></div>
              </div>
            </div>
        </div>
    </div>

  <script type="text/javascript">
    $('.ui.radio.checkbox').checkbox();

    var csrftoken = "{{ csrf_token() }}"

    // CSV upload button is disabled by default, enable when a .csv file has been
    // uploaded
    $('#csv-file').change(function() {
      $('#upload-button').removeClass('disabled').addClass('active');
    });

    // Parsing of CSV file on 'Upload'
    $("#csv-upload-form").submit(function(event) {
      event.preventDefault();

      $("#status-success").empty();
      $("#status-errors").empty();
      var numRows = 0;
      var numFields = 0;
      var errorList = [];
      var rowObjects = [];
      var fields;
      $("#csv-file").parse({
        config: {
          delimiter: ",",
          header: true,
          skipEmptyLines: true,
          step: function(row, parser) {
            // Check CSV formatting before parsing first row
            if (numRows == 0) {
              fields = row.meta.fields.map(e => e.trim()).filter(e => e !== '');
              numFields = fields.length;

              // Check that CSV data contains the required headers.
              var nameColumnIndex = fields.indexOf("Name");
              if (nameColumnIndex == -1) {
                errorList.push("'Name' is a required column name.");
              }
              var addressColumnIndex = fields.indexOf("Address");
              if (addressColumnIndex == -1) {
                errorList.push("'Address' is a required column name.");
              }

              // Stop parsing and force user to add the required columns
              if (errorList.length > 0) {
                parser.abort();
              }
            }

            // Remove whitespace from fields and values
            row = JSON.parse(
                    JSON.stringify(row.data[0]).replace(/"\s+|\s+"/g,'"')
                  );

            // Catch empty lines
            // skipEmptyLines config does not catch this since we include the header
            // so the row is returned as an object which is not considered 'empty'
            var rowValues = Object.values(row).filter(e => e !== ''); // row cell values
            if (rowValues.length != 0) {
              var rowNum = numRows + 2

              // Check that each row has all the headers (can have empty values
              // for each header except required columns)
              if (row['Name'] === '') {
                errorList.push("Row " + (rowNum)
                  + " is missing a required 'Name' value.");
              }

              if (row['Address'] === '') {
                errorList.push("Row " + (rowNum)
                  + " is missing a required 'Address' value.");
              }

              var rowColumns = Object.keys(row).filter(e => e !== ''); // row header values
              if (rowColumns.length != numFields) {
                errorList.push("Row " + (rowNum)
                  + " has the incorrect number of columns: " + rowColumns.length
                  + ". Expected: " + numFields);
              }

              // Store each of the rows to be sent to the server
              rowObjects.push(row);
              numRows++;
            }
          },
        },
  			error: function(error, file) {
  	      displayErrors([error]);
  		  },
        complete: function() {
          if (errorList.length > 0) {
            displayErrors(errorList);
          } else {
            submitCsvData(numRows, rowObjects, fields);
          }
        },
      });
    });

    // Helper to display errors on the CSV upload page about CSV parsing errors
    function displayErrors(errorList) {
      for (var i = 0; i < errorList.length; i++) {
        $("#status-errors").append(
          "<div class='item'>" + errorList[i] + "</div>"
        );
      }
    }

    // Helper to submit the parsed CSV data to the server to go through the
    // CSV workflow
    function submitCsvData(numRows, rowObjects, fields) {
      // Needed for CSRF protection.
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      })

      // Create list of Ajax requests: first processing the fields of the CSV then
      // the rows
      var ajaxReqs = [];
      var resetOrUpdate = document.getElementById('reset').checked
        ? 'reset' : 'update';
      if (resetOrUpdate === 'reset') {
        ajaxReqs.push({
          action: 'fields-reset',
          fields: fields,
        });
      } else {
        ajaxReqs.push({
          action: 'fields-update',
          fields: fields,
        });
      }

      if (rowObjects.length > 0) {
        var action = resetOrUpdate === 'reset' ? 'reset-update' : 'update';
        rowObjects.forEach(function(obj) {
          ajaxReqs.push({
            action: action,
            row: obj,
          });
        });
      }

      // Finished action to move onto next step
      ajaxReqs.push({
        action: 'finished',
      });

      // DeferredAjax object definition
      // Each Ajax request will be executed as a DeferredAjax object to enforce
      // all the Ajax requests executing sequentially (next will only execute when
      // previous is finished)
      function DeferredAjax(opts) {
        this.options = opts;
        this.deferred = $.Deferred();
        this.action = opts.action;
        this.row = opts.row;
        this.fields = opts.fields;
      }

      DeferredAjax.prototype.invoke = function() {
        var self = this;
        var data = {action: self.action, row: self.row, fields: self.fields}
        return $.ajax({
          type: "POST",
          url: "{{ url_for('bulk_resource.upload_row') }}",
          data: {json: JSON.stringify(data)},
          dataType: "JSON",
          success: function(res) {
            if (res.redirect) {
                window.location.href = res.redirect;
            }
            if (res.status === 'Success') {
              $("#status-success").prepend(
                "<div class='item'>" + res.message + "</div>"
              );
            }
            self.deferred.resolve();
         },
         error: function(res, err, msg) {
           $("#status-errors").prepend(
             "<div class='item'>There was an unexpected error. " +
             "Please try again.</div>"
           );
         },
       });
      }

      DeferredAjax.prototype.promise = function() {
        return this.deferred.promise();
      }

      // Execute each Ajax request sequentially, waiting for the previous to
      // finish before executing the next so we can process each row one by one.
      // If one of the rows fails, we abort the entire operation
      prevAjax = $.Deferred();
      prevAjax.resolve();
      $.each(ajaxReqs, function(idx, el) {
        var nextAjax = new DeferredAjax({
          action: el.action,
          row: el.row,
          fields: el.fields,
        });
        $.when(prevAjax).then(
          function() { /* success */
            nextAjax.invoke();
          },
          function() { /* failure */
            nextAjax.abort();
          }
        );
        prevAjax = nextAjax;
      });
    }
  </script>
{% endblock %}
