// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

// General nav
nav {
  margin-bottom: 40px !important;
}

.nav-mobile-switch {
  display: none;

  p {
    display: inline-block;
  }
}

// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

// Mobile nav
nav .mobile.only.row {
  .ui.vertical.menu {
      display: none;
      margin-top: 40px;
  }
}

// Flashes
.flashes > .ui.message:last-of-type {
  float: right;
  overflow: visible;
  position: absolute;
  z-index: 1000;
}

// Tables
table.selectable tr:hover {
    cursor: pointer !important;
}

// Multiple option selector placeholder
.ui.dropdown > .text {
    color: gray;
}
