$accent-color: #2C9FA3;
$font-choice: Roboto;
$font-size: 14px;

/******** GENERAL MAP/LIST GRID STYLES *************/
#map-list-grid {
  padding: 1em;
  position: absolute;
  width: 100%;

  #left-column {
    background-color: #EEEEEE; // TODO: change
    border: 1px solid #CCCCCC;
    height: 100%;
    overflow-y: scroll;
    padding: 1em;
  }

  #right-column {
    padding: 0;
  }
}

#left-column-divider {
  margin-bottom: 0;
}

/*************** SEARCH STYLES ****************/
// Location search
#pac-input, #resources-input {
  background-color: #fff;
  float: left;
  font-family: $font-choice;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus, #resources-input:focus {
  border-color: $accent-color;
}

#resources-form, #location-search {
  margin: 0 0 5px 0;
}

.descriptor-group {
  font-family: $font-choice;
  margin: 3px;

  h5 {
    font-family: $font-choice;
    margin: 0 0 5px 0;
  }
}

.option-group, .option-group-advanced {
  margin-bottom: 10px;
  margin-top: 10px;
}

.option-group-advanced {
  display: none; // hide initially
}

#advanced-filters-showhide {
  color: $accent-color;
  cursor: pointer;
  font-family: $font-choice;
  font-weight: 200;
  text-decoration: none;
}

.checkbox-option {
  margin-right: 5px;
}

.descriptor {
  display: block;
}

// Resource name search
#resources-form {
  display: inline;
  text-overflow: ellipsis;
}

#resources-input {
  background-color: #fff;
  font-family: $font-choice;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0px;
  text-overflow: ellipsis;
}

/*************** LIST STYLES ****************/
#list {
  height: 100%;
  margin-top: 0px;
}

// Resource list item
#list > .item.list-resource {
  cursor: pointer;
  margin: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;

  .sub.header {
    float: left;
    font-family: $font-choice;
    font-weight: normal;
    margin-right: 10px;
    width: 80%;

    .ui.small.label {
      font-size: $font-size;
    }
  }

  .header {
    display: inline-block;
  }

  .ui.label {
    background-color: #DDDDDD;
    display: inline-block;
    margin-left: 0;
    margin-top: 0.5em;
  }

  a, a:hover, a:active {
    color: $accent-color!important;
    font-family: $font-choice;
  }

  .right.floated.content {
    float: right;
    margin-right: -0.5em;
    margin-top: 1.5em;
    position: relative;
    vertical-align: middle;
  }
}


/*************** MAP STYLES ****************/
#map {
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  height: 100%;
  width: 100%;
}

// Resource marker
.marker-info {
  font-family: $font-choice;
  padding: 0.25em;
}

.ui.header {
  font-family: $font-choice;
}

.more-info {
  color: $accent-color;
  cursor: pointer;
  text-decoration: underline;

  :hover {
    color: $accent-color!important;
  }
}

/*************** RESOURCE VIEW SPECIFIC STYLES ****************/
// Resource detailed information view
#resource-info {
  background-color: #F8F8F8;
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  font-family: $font-choice;
  height: 100%;
  overflow: scroll;
  padding: 1.25em;

  // Specificity to override default styles
  > .ui.header > .sub.header > .ui.label {
    margin-left: 0px;
  }

  a {
    color: $accent-color;
  }

  #resource-name {
    display: inline;
    font-size: 36px;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .sub.header {
    font-size: $font-size;
  }

  .ui.label {
    font-size: $font-size;
    margin-top: 0.4em;
    margin-bottom: 1em;
  }
  .ui.header  {
    color: $accent-color;
    font-family: $font-choice;
  }
}

#back-button {
  display: inline-block;
  float: right;
  right: 1em;
  z-index: 2;
}

#single-resource-map {
  height: 400px;
  width: 100%;
}
