#map {
  height: 100%;
  width: 100%;
}

#list {
  height: 95%;
  overflow-y: auto;
}

#map-list-grid {
  height: 95%;
}

#map-list-grid.column {
  padding: 0;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.more-info {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.descriptor {
  display: block;
}