$accent-color: #2C9FA3;
$font-choice: Roboto;

#map {
  height: 100%;
  width: 100%;
}

#list {
  height: 95%;
  overflow-y: auto;
  padding: 10px;
}

#map-list-grid {
  height: 95%;
}

#map-list-grid.column {
  padding: 0;
}

#search {
  margin: 10px;
}

#pac-input, #resources-input {
  background-color: #fff;
  font-family: $font-choice;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  float: left;
}

#pac-input:focus, #resources-input:focus {
  border-color: $accent-color;
}

#resources-form, #location-search {
  margin: 0 0 5px 0;
}

.descriptor-group {
  margin: 3px;
  font-family: $font-choice;

  h5 {
    margin: 0 0 5px 0;
    font-family: $font-choice;
  }
}

.option-group, .option-group-advanced {
  margin-bottom: 10px;
  margin-top: 10px;
}

#advanced-filters-showhide a:link {
  text-decoration: none!important;
  font-family: $font-choice;
  font-weight: 100;
  color: $accent-color!important;
}