#map {
  height: 100%;
  width: 100%;
}

#list {
  height: 95%;
  overflow-y: auto;
}

#map-list-grid {
  height: 95%;
  background-color: #eee;
}

#map-list-grid.column {
  padding: 0;
}

#pac-input, #resources-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 200%;
  height: 100%;
}

#pac-input:focus, #resources-input:focus {
  border-color: #4d90fe;
}