$accent-color: #2C9FA3;
$font-choice: Roboto;

#map {
  height: 100%;
  width: 100%;
}

#list {
  height: 95%;
  margin-top: 0px;
  overflow-y: auto;
  padding: 0 0.5em 0 0.5em;
}

#list > .item.list-resource {
  padding-bottom: 0.5em;
  padding-top: 0.5em;

  .sub.header {
    font-weight: normal;
  }

  .ui.label {
    margin-left: 0;
    margin-top: 0.5em;
  }
}

#map-list-grid {
  height: 95%;
}

#map-list-grid.column {
  padding: 0;
}

#search {
  margin: 10px;
}

// Location search
#pac-input, #resources-input {
  background-color: #fff;
  float: left;
  font-family: $font-choice;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus, #resources-input:focus {
  border-color: $accent-color;
}

#resources-form, #location-search {
  margin: 0 0 5px 0;
}

.descriptor-group {
  font-family: $font-choice;
  margin: 3px;

  h5 {
    font-family: $font-choice;
    margin: 0 0 5px 0;
  }
}

.option-group, .option-group-advanced {
  margin-bottom: 10px;
  margin-top: 10px;
}

.option-group-advanced {
  display: none; // hide initially
}

#advanced-filters-showhide {
  color: $accent-color;
  cursor: pointer;
  font-family: $font-choice;
  font-weight: 100;
  text-decoration: none;
}

.checkbox-option {
  margin-right: 5px;
}

.more-info {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.descriptor {
  display: block;
}

// Resource name search
#resources-form {
  display: inline;
  text-overflow: ellipsis;
}

#resources-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0px;
  text-overflow: ellipsis;
}

// Resource info
#resource-info > .ui.header > .sub.header > .ui.label {
  margin-left: 0px;
}

#single-resource-map {
  width: 100%;
  height: 300px;
}
