{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <table class="ui unstackable celled table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Resource Name</th>
                    <th>Resource Address</th>
                    <th>Suggestion</th>
                    <th>Contact Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ suggestion.submission_time }}</td>
                    <td>{{ suggestion.resource_name }}</td>
                    <td>{{ suggestion.resource_address }}</td>
                    <td>{{ suggestion.suggestion_text }}</td>
                    <td>{{ suggestion.contact_name }}
                      <br>
                      {% if not suggestion.contact_email or suggestion.contact_email == '' %}
                        {{ suggestion.contact_number }}
                      {% else %}
                        {{ suggestion.contact_email }}
                        <br>
                        {{ suggestion.contact_number }}
                      {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="ui dividing header">Edit Resource</h2>
        {% include 'single_resource/resource_form.html' %}
        <br>
        <form action="{{ url_for('single_resource.delete', resource_id=resource_id) }}"
              method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="negative ui button">Delete Resource</button>
        </form>
    </div>
{% endblock %}
