{% extends 'layouts/base.html' %}
<!--TODO: have a "mark as read" column in the table -->
{% block content %}
  <div class="ui text container">
    <table class="ui unstackable celled table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Resource Name</th>
          <th>Resource Address</th>
          <th>Suggestion</th>
          <th>Contact Info</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for suggestion in suggestions %}
          <tr>
            <td>{{ suggestion.submission_time }}</td>
            <td>{{ suggestion.resource_name }}</td>
            <td>{{ suggestion.resource_address }}</td>
            <td>{{ suggestion.suggestion_text }}</td>
            <td>{{ suggestion.contact_name }}
              <br>
              {% if not suggestion.contact_email or suggestion.contact_email == '' %}
                {{ suggestion.contact_number }}
              {% else %}
                {{ suggestion.contact_email }}
                <br>
                {{ suggestion.contact_number }}
              {% endif %}
            </td>
            <td>
              {% if not suggestion.resource_id %}
                <a href="{{ url_for('suggestion.create', sugg_id=suggestion.id) }}">Create</a>
              {% else %}
                <a href="{{ url_for('suggestion.edit', sugg_id=suggestion.id) }}">
                  Edit {{ suggestion.resource.name }}
                </a>
              {% endif %}
            </td>
            <td>
              <a href="{{ url_for('suggestion.toggle_read', sugg_id=suggestion.id) }}">
                {% if suggestion.read %} 
                  Mark as unread
                {% else %}
                  Mark as read 
                {% endif %}
              </a>
              <br>
              <a href="{{ url_for('suggestion.delete', sugg_id=suggestion.id) }}">
                Delete
              </a>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
