{% extends 'layouts/base.html' %}

{% block content %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<meta name="csrf-token" content="{{ csrf_token() }}">

<div id="map-list-grid" class="ui two column horizontally padded grid">
  <div class="four wide column" id="left-column">
    <div id="search">
      <div class="ui fluid icon input" id="location-search">
        <i class="search icon"></i>
        <input type="text" id="pac-input" class="controls" placeholder="Go to a location">
      </div>
      <div class="ui horizontal divider" id="search-divider">Search</div>
      <div class="ui segment" id="resource-search">
        <div class="ui fluid icon input" id="search-keyword">
          <i class="search icon" id="resources-input-searchicon"></i>
          <input type="text" id="resources-input" class="controls"
          placeholder="Enter a resource keyword">
        </div>
        <select id="search-resources-req-options" multiple="" class="ui fluid dropdown" placeholder="Select">
            {% for req_option in req_options.keys() %}
            {% if req_options[req_option] %}
          <option value="{{ req_option }}" selected="selected">{{ req_option }}</option>
          {% else %}
          <option value="{{ req_option }}" >{{ req_option }}</option>
          {% endif %}
          {% endfor %}
        </select>
          <!-- <div class="ui fluid icon input">
          <i class="search icon"></i>
          <input type="text" id="resources-input" class="controls"
          placeholder="Enter resource name">
        </div> -->

        <div id="default-search" class="option-group">
          <div class="descriptor-group">
            <h5>DESCRIPTOR #1</h5>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option" class="checkbox-option">
              <label>Option ekkeke</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
          </div>
        </div>

        <div id="advanced-search" class="option-group-advanced">
          <div class="descriptor-group">
            <h5>DESCRIPTOR #2</h5>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
          </div>

          <div class="descriptor-group">
            <h5>DESCRIPTOR #3</h5>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
            <div class="ui checkbox field one wide column">
              <input type="checkbox" name="option">
              <label>Option</label>
            </div>
          </div>
        </div>

        <div id="advanced-filters-showhide">
          Show Advanced Filters
        </div>
        <button class="ui fluid button" id="search-user-resources">Search</button>
      </div>
    </div>

    <div class="ui horizontal divider" id="results-divider">Results</div>
    <div id="list" class="ui middle aligned divided list"></div>

    <!--<div class="ui divider" id="left-column-divider"></div>-->
    <div class="ui middle aligned divided list" id="list"></div>
  </div>

  <div class="twelve wide column" id="right-column">
    <div id="map"></div>
    <div id="resource-info"></div>
  </div>
</div>
</div>
<!-- HANDLEBARS.JS TEMPLATES COMPILED IN MAP.JS -->
<!-- Populate location search marker info-->
<script id="searched-location-info-window-template" type="text/x-handlebars-template">
  <div class="loc-marker-info">
    <h3 class="ui header" id="marker-resource-name">
      {% raw %}{{ name }}{% endraw %}
      <div class="sub header" id="marker-resource-info">
        {% raw %}{{ address }}{% endraw %}
      </div>
    </h3>
  </div>
</script>

<!-- Populate resource marker info-->
<script id="marker-info-window-template" type="text/x-handlebars-template">
  <div class="marker-info">
    <h3 class="ui header">
    {% raw %}{{ name }}{% endraw %}
    {% raw %}{{#if avg_rating}}{% endraw %}
    <a class="ui label" id="avg_rating">
      <i class="yellow star icon"></i>
      {% raw %}{{ avg_rating }}{% endraw %}
    </a>
    {% raw %}{{/if}}{% endraw %}
      <div class="sub header">
        <div>{% raw %}{{ address }}{% endraw %}</div>
        <a class="more-info">More Information</a>
      </div>
    </h3>
  </div>
</script>

<!-- Populate resource information view-->
<script id="resource-template" type="text/x-handlebars-template">
  <i class="big link remove icon" id="back-button"></i>
  <h1 class="ui header" id="resource-name">
    {% raw %}{{ name }}{% endraw %}
    {% raw %}{{#if avg_rating}}{% endraw %}
    <a class="ui label" id="avg_rating">
      <i class="yellow star icon"></i>
      {% raw %}{{ avg_rating }}{% endraw %}
    </a>
    {% raw %}{{/if}}{% endraw %}
    <div class="sub header">
      {% raw %}{{ address }}{% endraw %}
      <br>
      <span class="ui large label">Category</span>
    </div>
  </h1>
  <div id="single-resource-map"></div>
  <div class="ui hidden divider"></div>
  <div class="descriptors">
    <h2 class="ui dividing header">Information</h2>
    <div class="ui list">
      {% raw %}{{#each descriptors}}{% endraw %}
      <div class="item descriptor">
        <div class="header">{% raw %}{{ key }}{% endraw %}</div>
        {% raw %}{{ value }}{% endraw %}
      </div>
      {% raw %}{{/each}}{% endraw %}
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div class="actions">
    <h2 class="ui dividing header">Actions</h2>
    <div class="userRating" id="user-rating">
      <div class="ui form"> 
        <h3 class="ui header">Submit a Review</h3>
        <div class="field">
          <label>Rating (Required)</label>
          <div class="ui star rating" id="rating-input"></div>
        </div>
          <div class="field">
            <label>Review (Optional)</label>
            <textarea rows="2" id="review"></textarea>
          </div>
        <button class="ui disabled button" id="submit">Submit</button>
      </div>
    </div>
    <div class="successMessage" style="display:none">
        <div class="ui positive message">
          Thanks, your rating has been posted!
        </div>
    </div>
    <a href="{% raw %}{{ suggestionUrl }}{% endraw %}">
      Suggest an edit for this resource
    </a>
  </div>
</script>

<!-- Populate list view-->
<script id="listview-template" type="text/x-handlebars-template">
  {% raw %}{{#each resource}}{% endraw %}
  <div class="item list-resource">
    <h3 class="ui header">
      <a>{% raw %}{{ name }}{% endraw %}</a>
      {% raw %}{{#if avg_rating}}{% endraw %}
      <a class="ui small label" id="avg_rating">
        <i class="yellow star icon"></i>
        {% raw %}{{ avg_rating }}{% endraw %}
      </a>
      {% raw %}{{/if}}{% endraw %}
    </h3>
    <div class="sub header">
      <div>{% raw %}{{ address }}{% endraw %}</div>
      <div class="ui small label">Category</div>
    </div>
    <div class="right floated content" id="resource-list-chevron">
      <a><i class="large right chevron icon"></i></a>
    </div>

  </div>
  {% raw %}{{/each}}{% endraw %}
</script>

<script>
  $(document).ready(function(){
    // defined in map.js
    initMap();
    resizeMapListGrid();

    // Adjust height of map/list grid when resize browser to fit in screen
    $(window).resize(function() {
      resizeMapListGrid();
    });

    $('#advanced-filters-showhide').click(function() {
      if ($(this).text() === 'Close Advanced Filters') {
        $(this).text('Show Advanced Filters');
      } else {
        $(this).text('Close Advanced Filters');
      }
      $('.option-group-advanced').toggle();
    });
  });
</script>

{% endblock %}
