{% extends 'layouts/base.html' %}
{% block content %}
  <div class="resource block" style="margin: 20px">
    <h1 class="ui header">Resource Name</h1>
    <div class="ui horizontal label">Category</div><div class="ui star rating" id="rating-avg"></div>
      Address 2304 Irving Street Philadelphia, PA <!-- This does not have an element put this in a div class that lines up with categories-->
    <h5 class="ui header">Info</h5>
    <div class="text descriptor"><b>descriptor text</b> text text</div>
    <div class="option descriptor"><b> option texts</b>
      <div class="ui labels">
        <div class="ui horizontal label"> Option 1 </div>
        <div class="ui horizontal label"> Option 2 </div>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="user-rating">
      <div class="ui form">
        <h1 class="ui header">Submit a Review</h1>
        <div class="field">
          <label>Rating (Required)</label>
          <div class="ui star rating" id="rating-input"></div>
        </div>
          <div class="field">
            <label>Review (Optional)</label>
            <textarea rows="2" id="review"></textarea>
          </div>
        <button class="ui disabled button" id="submit">Submit</button>
      </div>
    </div>
  </div>
    <div class="successMessage" style="display:none">
        <div class="ui positive message">
          Thanks, your rating has been posted!
        </div>
    </div>
</div>

<script type="text/javascript">
  $('.ui.rating')
    .rating({
      initialRating: 0,
      maxRating: 5,
      onRate: function(value) {
        if (value !== 0)
          $('#submit').removeClass('disabled').addClass('active');
      }
    });

  $('#rating-avg')
    .rating({
      initialRating: 3, // replace with resource avg rating
      maxRating: 5
    });

  $('#rating-avg')
    .rating('disable');

  $('#submit').click(function() {
    var rating = $('#rating-input').rating('get rating');
    console.log(rating);
    var review = $('#review').val();
    console.log(review);
    ratingRequest(rating, review);
    $(".user-rating").hide();
    $(".successMessage").show();
  });

  function ratingRequest(rating, review) {
     var time = new Date()
     var ratingReview = {
        'rating': rating,
        'review': review,
        'time': time
     };
     $.ajax({
         url: '/resource-view',
         data: JSON.stringify(ratingReview),
         contentType: 'application/json',
         dataType: 'json',
         success: function(data) {
            console.log(ratingReview)},
         method: 'POST'
         });
  }

</script>
{% endblock %}
