@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.09804);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\000031}}
#map {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\000036}}
#list {
  height: 95%;
  overflow-y: auto;
}

@media -sass-debug-info{filename{}line{font-family:\0000311}}
#map-list-grid {
  height: 95%;
}

@media -sass-debug-info{filename{}line{font-family:\0000315}}
#map-list-grid.column {
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000319}}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\0000327}}
#pac-input:focus {
  border-color: #4d90fe;
}
