@media -sass-debug-info{filename{}line{font-family:\000032}}
.updated-alert, .ui.button.cancel-edit, .ui.button.end-edit {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\000036}}
.cke_editable {
  padding: .5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000310}}
#editor-about, #editor-contact {
  max-height: 300px;
  min-height: 100px;
  overflow-y: scroll;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.09804);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  display: none;
  margin-top: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  float: right;
  overflow: visible;
  position: absolute;
  z-index: 1000;
}

@media -sass-debug-info{filename{}line{font-family:\0000333}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000338}}
.ui.dropdown > .text {
  color: gray;
}

/******** GENERAL MAP/LIST GRID STYLES *************/
@media -sass-debug-info{filename{}line{font-family:\000035}}
#map-list-grid {
  padding: 1em;
  position: absolute;
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\0000310}}
#map-list-grid #left-column {
  background-color: #B8B8B8;
  height: 100%;
  overflow-y: scroll;
  padding: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\0000317}}
#map-list-grid #right-column {
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000322}}
#left-column-divider {
  margin-bottom: 0;
}

/*************** SEARCH STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\0000328}}
#pac-input, #resources-input {
  background-color: #fff;
  float: left;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\0000337}}
#pac-input:focus, #resources-input:focus {
  border-color: #2C9FA3;
}

@media -sass-debug-info{filename{}line{font-family:\0000341}}
#resources-form, #location-search {
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000346}}
#resource-search {
  background-color: #fff;
}

@media -sass-debug-info{filename{}line{font-family:\0000350}}
.descriptor-group {
  font-family: Roboto;
  margin: 3px;
}
@media -sass-debug-info{filename{}line{font-family:\0000354}}
.descriptor-group h5 {
  font-family: Roboto;
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
.option-group, .option-group-advanced {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000365}}
.option-group-advanced {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000369}}
#advanced-filters-showhide {
  color: #2C9FA3;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 100;
  text-decoration: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000377}}
.checkbox-option {
  margin-right: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\0000381}}
.descriptor {
  display: block;
}

@media -sass-debug-info{filename{}line{font-family:\0000385}}
#resources-form {
  display: inline;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\0000390}}
#resources-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0px;
  text-overflow: ellipsis;
}

/*************** LIST STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003100}}
#list {
  height: 100%;
  margin-top: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003106}}
#list > .item.list-resource {
  padding-bottom: 1em;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003110}}
#list > .item.list-resource .sub.header {
  font-weight: normal;
}
@media -sass-debug-info{filename{}line{font-family:\00003114}}
#list > .item.list-resource .ui.label {
  margin-left: 0;
  margin-top: 0.5em;
}

/*************** MAP STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003121}}
#map {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\00003127}}
.more-info {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/*************** RESOURCE VIEW SPECIFIC STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003135}}
#resource-info {
  padding-left: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003139}}
#resource-info > .ui.header > .sub.header > .ui.label {
  margin-left: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003144}}
#single-resource-map {
  height: 300px;
  width: 100%;
}
