@media -sass-debug-info{filename{}line{font-family:\000032}}
.updated-alert, .ui.button.cancel-edit, .ui.button.end-edit {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\000036}}
.cke_editable {
  padding: .5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000310}}
.editor-admin {
  min-height: 100px;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.09804);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  display: none;
  margin-top: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  float: right;
  overflow: visible;
  position: absolute;
  z-index: 1000;
}

@media -sass-debug-info{filename{}line{font-family:\0000333}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000338}}
.ui.dropdown > .text {
  color: gray;
}

/******** GENERAL MAP/LIST GRID STYLES *************/
@media -sass-debug-info{filename{}line{font-family:\000036}}
#map-list-grid {
  padding: 1em;
  position: absolute;
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\0000311}}
#map-list-grid #left-column {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  height: 100%;
  overflow-y: scroll;
  padding: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\0000319}}
#map-list-grid #right-column {
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000324}}
#left-column-divider {
  margin-bottom: 0;
}

/*************** SEARCH STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\0000330}}
#pac-input, #resources-input {
  background-color: #fff;
  float: left;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\0000339}}
#pac-input:focus, #resources-input:focus, #search-resources-req-options:focus {
  border-color: #2C9FA3;
}

@media -sass-debug-info{filename{}line{font-family:\0000343}}
#location-search, #search-keyword, #resources-input {
  height: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000348}}
#search-user-resources {
  background-color: #2C9FA3;
  color: #fff;
  font-family: Roboto;
  font-weight: 400;
}

@media -sass-debug-info{filename{}line{font-family:\0000356}}
#resource-search {
  background-color: #F8F8F8;
  box-shadow: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000361}}
.descriptor-group {
  font-family: Roboto;
  margin: 3px;
}
@media -sass-debug-info{filename{}line{font-family:\0000365}}
.descriptor-group h5 {
  font-family: Roboto;
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000371}}
.option-group, .option-group-advanced {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000376}}
.option-group-advanced {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000380}}
#advanced-filters-showhide {
  color: #2C9FA3;
  cursor: pointer;
  font-family: Roboto;
  margin-bottom: 0.5em;
  text-decoration: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000388}}
.checkbox-option {
  margin-right: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\0000392}}
.descriptor {
  display: block;
}

@media -sass-debug-info{filename{}line{font-family:\0000396}}
#search-divider, #results-divider {
  color: #555;
  font-family: Roboto;
}

@media -sass-debug-info{filename{}line{font-family:\00003101}}
#results-divider {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003105}}
#search-keyword {
  margin: 0 0 5px 0;
}

/*************** LIST STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003110}}
#list {
  height: 100%;
  margin-top: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003116}}
#list > .item.list-resource {
  cursor: pointer;
  margin: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003122}}
#list > .item.list-resource .sub.header {
  float: left;
  font-family: Roboto;
  font-weight: normal;
  margin-right: 15px;
  padding-right: 10px;
}
@media -sass-debug-info{filename{}line{font-family:\00003129}}
#list > .item.list-resource .sub.header .ui.small.label {
  font-size: 14px;
}
@media -sass-debug-info{filename{}line{font-family:\00003134}}
#list > .item.list-resource .header {
  display: inline-block;
}
@media -sass-debug-info{filename{}line{font-family:\00003138}}
#list > .item.list-resource .ui.label {
  background-color: #DDDDDD;
  display: inline-block;
  margin-left: 0;
  margin-top: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003145}}
#list > .item.list-resource a, #list > .item.list-resource a:hover, #list > .item.list-resource a:active {
  color: #2C9FA3;
  font-family: Roboto;
}
@media -sass-debug-info{filename{}line{font-family:\00003150}}
#list > .item.list-resource #resource-list-chevron {
  float: right;
  margin-top: 1.5em;
  position: absolute;
  right: 1em;
  vertical-align: middle;
}

/*************** MAP STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003161}}
#map {
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\00003169}}
.marker-info {
  font-family: Roboto;
  padding: 0.25em;
}

@media -sass-debug-info{filename{}line{font-family:\00003174}}
#marker-resource-name, #marker-resource-info {
  font-family: Roboto;
}

@media -sass-debug-info{filename{}line{font-family:\00003178}}
.more-info {
  color: #2C9FA3;
  cursor: pointer;
  text-decoration: underline;
}

@media -sass-debug-info{filename{}line{font-family:\00003184}}
.more-info:hover {
  color: #2C9FA3;
}

/*************** RESOURCE VIEW SPECIFIC STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003190}}
#resource-info {
  background-color: #F8F8F8;
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  font-family: Roboto;
  height: 100%;
  overflow: scroll;
  padding: 1.25em;
}
@media -sass-debug-info{filename{}line{font-family:\00003200}}
#resource-info > .ui.header > .sub.header > .ui.label {
  margin-left: 0px;
}
@media -sass-debug-info{filename{}line{font-family:\00003204}}
#resource-info a {
  color: #2C9FA3;
}
@media -sass-debug-info{filename{}line{font-family:\00003208}}
#resource-info #resource-name {
  display: inline;
  font-size: 36px;
  padding-bottom: 1em;
  padding-top: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003215}}
#resource-info .successMessage {
  display: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003218}}
#resource-info .sub.header {
  font-size: 14px;
}
@media -sass-debug-info{filename{}line{font-family:\00003222}}
#resource-info .ui.label {
  font-size: 14px;
  margin-top: 0.4em;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003227}}
#resource-info .ui.header {
  color: #2C9FA3;
  font-family: Roboto;
}

@media -sass-debug-info{filename{}line{font-family:\00003234}}
#back-button {
  color: #2C9FA3;
  display: inline-block;
  float: right;
  right: 1em;
  z-index: 2;
}

@media -sass-debug-info{filename{}line{font-family:\00003242}}
#single-resource-map {
  height: 400px;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\000031}}
.editor-user {
  word-wrap: break-word;
}
