@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.09804);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  display: none;
  margin-top: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\000034}}
#map {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\000039}}
#list {
  height: 95%;
  margin-top: 0px;
  overflow-y: auto;
  padding: 0 0.5em 0 0.5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000316}}
#list > .item.list-resource {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\0000320}}
#list > .item.list-resource .sub.header {
  font-weight: normal;
}
@media -sass-debug-info{filename{}line{font-family:\0000324}}
#list > .item.list-resource .ui.label {
  margin-left: 0;
  margin-top: 0.5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
#map-list-grid {
  height: 95%;
}

@media -sass-debug-info{filename{}line{font-family:\0000334}}
#map-list-grid.column {
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000338}}
#search {
  margin: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000343}}
#pac-input, #resources-input {
  background-color: #fff;
  float: left;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\0000352}}
#pac-input:focus, #resources-input:focus {
  border-color: #2C9FA3;
}

@media -sass-debug-info{filename{}line{font-family:\0000356}}
#resources-form, #location-search {
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
.descriptor-group {
  font-family: Roboto;
  margin: 3px;
}
@media -sass-debug-info{filename{}line{font-family:\0000364}}
.descriptor-group h5 {
  font-family: Roboto;
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000370}}
.option-group, .option-group-advanced {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000375}}
.option-group-advanced {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000379}}
#advanced-filters-showhide {
  color: #2C9FA3;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 100;
  text-decoration: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000387}}
.checkbox-option {
  margin-right: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\0000391}}
.more-info {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

@media -sass-debug-info{filename{}line{font-family:\0000397}}
.descriptor {
  display: block;
}

@media -sass-debug-info{filename{}line{font-family:\00003102}}
#resources-form {
  display: inline;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\00003107}}
#resources-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0px;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\00003117}}
#resource-info > .ui.header > .sub.header > .ui.label {
  margin-left: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003121}}
#single-map {
  width: 100%;
  height: 300px;
}
