@media -sass-debug-info{filename{}line{font-family:\0000312}}
.updated-alert, .ui.button.cancel-edit, .ui.button.end-edit {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000316}}
.cke_editable {
  padding: .5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000320}}
.editor-admin {
  min-height: 100px;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
#admin-home {
  font-family: "Nunito Sans", sans-serif;
  left: 50%;
  margin-bottom: 50px;
  position: absolute;
  top: 75px;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}

@media -sass-debug-info{filename{}line{font-family:\0000337}}
#upload-progress {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000341}}
#progress-msgs .ui.segment {
  max-height: 175px;
  overflow-y: scroll;
}

@media -sass-debug-info{filename{}line{font-family:\0000348}}
.ui.stackable.grid.container .ui.header:first-child {
  margin-top: 0.7em;
}

@media -sass-debug-info{filename{}line{font-family:\0000354}}
.ui.text.container .ui.dividing.header, .ui.text.container .ui.centered.header {
  margin-top: 2.5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
#suggest-resource .ui.dividing.header, #suggest-resource .ui.centered.header {
  margin-top: 0.5em;
}

@media -sass-debug-info{filename{}line{font-family:\0000316}}
body {
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000319}}
body a, body h1 {
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000324}}
body a:hover {
  color: #505050;
}
@media -sass-debug-info{filename{}line{font-family:\0000328}}
body h2, body h3 {
  font-family: "Nunito Sans", sans-serif;
}
@media -sass-debug-info{filename{}line{font-family:\0000332}}
body p {
  font-size: 14px;
}
@media -sass-debug-info{filename{}line{font-family:\0000336}}
body h1 {
  font-size: 30px;
}
@media -sass-debug-info{filename{}line{font-family:\0000340}}
body h2 {
  font-size: 24px;
}
@media -sass-debug-info{filename{}line{font-family:\0000344}}
body h3 {
  font-size: 18px;
}

@media -sass-debug-info{filename{}line{font-family:\0000349}}
.ui.menu, .ui.header {
  font-family: "Nunito Sans", sans-serif;
}

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{}line{font-family:\0000355}}
  div.form-page, div.static-page {
    width: 90%;
  }
}
@media -sass-debug-info{filename{}line{font-family:\0000361}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000365}}
.ui.fixed.main.menu {
  background-color: #000000;
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\0000370}}
.ui.menu .item.nav-mobile-switch {
  display: none;
  padding-top: 1.4em;
}
@media -sass-debug-info{filename{}line{font-family:\0000374}}
.ui.menu .item.nav-mobile-switch p {
  display: inline-block;
}

@media -sass-debug-info{filename{}line{font-family:\0000380}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.09804);
}

@media -sass-debug-info{filename{}line{font-family:\0000386}}
nav .mobile.only.row .ui.vertical.menu {
  display: none;
  margin-top: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000393}}
.flashes > .row > .ui.message {
  background-color: #27ae60;
  box-shadow: none;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  left: 0;
  margin: auto;
  overflow: visible;
  position: absolute;
  right: 0;
  text-align: center;
  width: 60%;
  z-index: 1000;
}

@media -sass-debug-info{filename{}line{font-family:\00003109}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003114}}
.ui.dropdown > .text {
  color: gray;
}

@media -sass-debug-info{filename{}line{font-family:\00003120}}
form .field, form input, form textarea, table .field, table input, table textarea {
  font-family: "Nunito Sans", sans-serif !important;
}
@media -sass-debug-info{filename{}line{font-family:\00003124}}
form .ui.button:hover, table .ui.button:hover {
  background-color: #505050;
  color: #FFFFFF;
}

@media -sass-debug-info{filename{}line{font-family:\00003131}}
.ui.button {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
}

@media -sass-debug-info{filename{}line{font-family:\00003138}}
.ui.button:hover {
  background-color: #505050;
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\00003144}}
h1.ui.header, h2.ui.header {
  color: #000000;
}

@media -sass-debug-info{filename{}line{font-family:\00003149}}
.ui.positive.message {
  background-color: transparent;
  border: 1px solid #27ae60;
  box-shadow: none;
  color: #27ae60;
}
@media -sass-debug-info{filename{}line{font-family:\00003155}}
.ui.positive.message > .close.icon {
  top: 1em;
}

@media -sass-debug-info{filename{}line{font-family:\00003161}}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

@media -sass-debug-info{filename{}line{font-family:\00003165}}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/******** GENERAL MAP/LIST GRID STYLES *************/
@media -sass-debug-info{filename{}line{font-family:\0000313}}
#map-list-grid {
  margin-top: -4px;
  padding: 1em;
  position: absolute;
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\0000319}}
#map-list-grid #left-column {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  height: 100%;
  overflow-y: scroll;
  padding: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\0000327}}
#map-list-grid #right-column {
  padding: 0;
}
@media -sass-debug-info{filename{}line{font-family:\0000331}}
#map-list-grid.grid-space-large {
  padding-left: 2em;
  padding-right: 2em;
}
@media -sass-debug-info{filename{}line{font-family:\0000336}}
#map-list-grid.grid-space-small {
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000341}}
#left-column-divider {
  margin-bottom: 0;
}

/*************** SEARCH STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\0000346}}
#pac-input, #resources-input, #resource-search .ui.dropdown > .text {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.4);
  float: left;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{}line{font-family:\0000356}}
#pac-input:focus, #resources-input:focus, #search-resources-req-options:focus {
  border-color: #000000;
  color: #555;
}

@media -sass-debug-info{filename{}line{font-family:\0000361}}
#location-search, #search-keyword, #resources-input {
  height: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000366}}
#search-user-resources {
  background-color: #000000;
  color: #fff;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000375}}
#reset-button {
  background-color: #CCCCCC;
  color: #fff;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin-top: 0.5em;
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000386}}
#resource-search {
  background-color: #F8F8F8;
  box-shadow: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000392}}
.req-desc-name {
  text-transform: capitalize;
}

@media -sass-debug-info{filename{}line{font-family:\0000396}}
.option-group-advanced {
  display: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\00003102}}
#resource-search .ui.dropdown > .ui.label {
  background-color: inherit;
  border: 1px solid #505050;
  box-shadow: none;
  color: #505050;
  font-weight: normal;
}

@media -sass-debug-info{filename{}line{font-family:\00003110}}
#advanced-filters-show, #advanced-filters-hide {
  color: #000000;
  cursor: pointer;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-decoration: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003118}}
#advanced-filters-hide {
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003122}}
#advanced-filters-showhide:hover {
  color: #505050;
}

@media -sass-debug-info{filename{}line{font-family:\00003126}}
.checkbox-option {
  margin-right: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\00003130}}
.descriptor {
  display: block;
}

@media -sass-debug-info{filename{}line{font-family:\00003134}}
#search-divider, #results-divider {
  color: #555;
}

@media -sass-debug-info{filename{}line{font-family:\00003138}}
#results-divider {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003142}}
#search-keyword {
  margin: 0 0 5px 0;
}

/*************** LIST STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003147}}
#list {
  margin-bottom: 0px;
  margin-top: 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003153}}
.item.list-resource {
  cursor: pointer;
  margin: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003159}}
.item.list-resource .ui.grid {
  margin-bottom: -0.5em;
  margin-top: -0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003164}}
.item.list-resource #list-resource-details {
  float: left;
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  margin-right: 15px;
  padding-right: 10px;
}
@media -sass-debug-info{filename{}line{font-family:\00003171}}
.item.list-resource #list-resource-details .ui.small.label {
  font-size: 12px;
}
@media -sass-debug-info{filename{}line{font-family:\00003176}}
.item.list-resource .ui.label {
  background-color: inherit;
  border: 1px solid #505050;
  color: #505050;
  display: inline-block;
  font-weight: normal;
  margin-left: 0;
  margin-top: 0.5em;
  padding-top: 0.5em;
  white-space: normal;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{}line{font-family:\00003189}}
.item.list-resource .header {
  display: block;
}
@media -sass-debug-info{filename{}line{font-family:\00003194}}
.item.list-resource:hover .ui.header a, .item.list-resource:hover #resource-list-chevron a {
  color: #505050;
}
@media -sass-debug-info{filename{}line{font-family:\00003200}}
.item.list-resource.list-selected .ui.header a, .item.list-resource.list-selected #resource-list-chevron a {
  color: #27ae60;
}

@media -sass-debug-info{filename{}line{font-family:\00003206}}
#resource-list-chevron {
  padding-left: 0;
}

@media -sass-debug-info{filename{}line{font-family:\00003210}}
#category, #avg_rating {
  display: inline-block;
  vertical-align: middle;
}

/*************** MAP STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003216}}
#map {
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\00003224}}
.marker-info {
  padding: 0.25em 0.25em 0em;
}
@media -sass-debug-info{filename{}line{font-family:\00003227}}
.marker-info #address-marker {
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{}line{font-family:\00003231}}
.marker-info #more-info-label {
  background-color: #27ae60;
  color: white;
  cursor: pointer;
  font-weight: 300;
  position: relative;
  right: 8px;
  text-decoration: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003241}}
.marker-info #more-info-label:hover {
  background-color: #2ecc71;
}

@media -sass-debug-info{filename{}line{font-family:\00003247}}
#map div.gm-style-iw {
  overflow: visible !important;
}
@media -sass-debug-info{filename{}line{font-family:\00003250}}
#map div.gm-style-iw > div, #map div.gm-style-iw > div > div {
  overflow: visible !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003255}}
#avg_rating-marker {
  background-color: inherit;
  border: 1px solid #2ecc71;
  color: #2ecc71;
  font-size: 11px;
  margin-right: 0px;
  position: relative;
  right: 8px;
}

@media -sass-debug-info{filename{}line{font-family:\00003265}}
#map-footer {
  background-color: #EEEEEE;
  display: none;
  overflow-y: auto;
  padding: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003271}}
#map-footer .marker-info .ui.header {
  margin-bottom: 0.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003275}}
#map-footer #mobile-list-btn {
  background-color: #EEEEEE;
  border: none;
  color: #555;
  cursor: pointer;
  font-weight: normal;
  margin-left: 0;
  padding-left: 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003284}}
#map-footer #mobile-list-btn p {
  display: inline-block;
}
@media -sass-debug-info{filename{}line{font-family:\00003288}}
#map-footer #mobile-list-btn:hover {
  color: #000;
}

/*************** RESOURCE VIEW SPECIFIC STYLES ****************/
@media -sass-debug-info{filename{}line{font-family:\00003296}}
#resource-info {
  background-color: #F8F8F8;
  border: solid #CCCCCC;
  border-width: 1px 1px 1px 0;
  height: 100%;
  overflow: scroll;
  padding: 1.25em;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{}line{font-family:\00003306}}
#resource-info > .ui.header > .sub.header > .ui.label {
  margin-left: 0px;
}
@media -sass-debug-info{filename{}line{font-family:\00003310}}
#resource-info #resource-name {
  display: inline;
  font-size: 36px;
  padding-bottom: 1em;
  padding-top: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003317}}
#resource-info .successMessage {
  display: none;
}
@media -sass-debug-info{filename{}line{font-family:\00003321}}
#resource-info .sub.header {
  font-size: 14px;
}
@media -sass-debug-info{filename{}line{font-family:\00003325}}
#resource-info .ui.label {
  background-color: inherit;
  border: 1px solid #505050;
  color: #505050;
  font-size: 14px;
  font-weight: normal;
  margin-top: 0.4em;
  margin-bottom: 1em;
  padding-top: 0.4em;
}
@media -sass-debug-info{filename{}line{font-family:\00003336}}
#resource-info .ui.header {
  color: #000000;
}

@media -sass-debug-info{filename{}line{font-family:\00003341}}
#descriptor-name {
  font-family: "Nunito Sans", sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\00003345}}
#back-button {
  color: #000000;
  display: inline-block;
  float: right;
  right: 1em;
  z-index: 2;
}

@media -sass-debug-info{filename{}line{font-family:\00003353}}
#back-button:hover {
  color: #505050;
}

@media -sass-debug-info{filename{}line{font-family:\00003357}}
#single-resource-map {
  height: 400px;
  width: 100%;
}

@media -sass-debug-info{filename{}line{font-family:\00003362}}
#user-rating, .successMessage {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{}line{font-family:\00003366}}
#user-rating {
  background-color: #F8F8F8;
  box-shadow: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003371}}
#avg_rating {
  color: #000000;
}

@media -sass-debug-info{filename{}line{font-family:\00003375}}
#submit-rating {
  background-color: #000000;
  color: #fff;
  font-weight: 400;
}

@media -sass-debug-info{filename{}line{font-family:\00003381}}
#submit-rating:hover {
  background-color: #505050;
}

@media -sass-debug-info{filename{}line{font-family:\000031}}
.editor-user {
  word-wrap: break-word;
}
