{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <h2 class="ui dividing header">Edit Resource</h2>
        {% include 'single_resource/resource_form.html' %}
        <br>
        <form action="{{ url_for('single_resource.delete', resource_id=resource_id) }}"
              method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="negative ui button">Delete Resource</button>
        </form>
    </div>
{% endblock %}
