{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet fourteen wide computer centered column">
            <h2 class="centered ui header">
                Resources
                <div class="sub header">
                    View and edit current resources.
                </div>
            </h2>

            <div class="ui right action left icon input menu">
                <i class="search icon"></i>
                <input id="search-resources-text" type="text" value="{{ query_name|default('') }}" placeholder="Search resources by name">
                <select id="search-resources-req-options" multiple="" class="ui fluid dropdown" placeholder="Select">
                    {% for req_option in req_options.keys() %}
                        {% if req_options[req_option] %}
                            <option value="{{ req_option }}" selected="selected">{{ req_option }}</option>
                        {% else %}
                            <option value="{{ req_option }}" >{{ req_option }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="ui button" id="search-resources">Search</button>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable celled striped table">
                    <thead>
                        <tr>
                            <th class="four wide sorted ascending">Name</th>
                            <th class="six wide sorted ascending">Address</th>
                            <th class="two wide"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for resource in resources | sort(attribute='name') %}
                        <tr>
                            <td>
                                {{ resource['name'] }}
                            </td>
                            <td>{{ resource['address'] }}</td>
                            <td class="selectable">
                              <a href="{{ url_for('single_resource.edit', resource_id=resource['id']) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
