{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container" id="admin-home">
        <div class="twelve wide column">
            <h1 class="ui header">
                Administrator Dashboard
            </h1>
            <h3 class="ui dividing header">
                Manage Users
            </h3>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Registered Users', 'admin.registered_users',
                                    description='View and manage user accounts', icon='users icon') }}
                {{ dashboard_option('Add New User', 'admin.new_user',
                                    description='Create a new user account', icon='add user icon') }}
                {{ dashboard_option('Invite New User', 'admin.invite_user',
                                    description='Invites a new user to create their own account', icon='add user icon') }}
            </div>
            <h3 class="ui dividing header">
                Manage Resources
            </h3>
            <div class="ui two column stackable grid">
                {{ dashboard_option('All Resources', 'single_resource.index',
                                    description='View and manage resources', icon='book icon') }}
                {{ dashboard_option('Add New Resource', 'single_resource.create',
                                    description='Create a new resource', icon='add circle icon') }}
                {{ dashboard_option('Upload Resources', 'bulk_resource.upload',
                                    description='Upload a list of resources', icon='upload icon') }}
                {{ dashboard_option('Suggested Resources', 'suggestion.index',
                                    description='View and manage suggested resources', icon='checkmark box icon') }}
            </div>
            <h3 class="ui dividing header">
                Manage Descriptors
            </h3>
            <div class="ui two column stackable grid">
                {{ dashboard_option('All Descriptors', 'descriptor.index',
                                    description='View and manage descriptors', icon='tags icon') }}
                {{ dashboard_option('Add New Descriptor', 'descriptor.new_descriptor',
                                    description='Create a new descriptor', icon='add circle icon') }}
            </div>
            <h3 class="ui dividing header">
                Manage Ratings and Reviews
            </h3>
            <div class="ui two column stackable grid">
                {{ dashboard_option('View Ratings/Reviews', 'admin.ratings_table',
                                    description='See all the Ratings and Reviews', icon='star icon') }}
            </div>
            <h3 class="ui dividing header">
                Manage Site
            </h3>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Customize Site', 'admin.customize_site',
                                    description='Options for customizing the site', icon='wizard icon') }}
                {{ dashboard_option('Create Pages', 'admin.create_page',
                                    description='Add more pages to the website', icon='plus icon') }}
            </div>
        </div>
    </div>
{% endblock %}
