{% macro render_inline_editor(editable_html_obj, current_user) %}
    {% if current_user.is_admin() %}
        <div class="ui segment">
            <div id="editor-{{ editable_html_obj.editor_name }}" class="editor-admin" contenteditable="false">
            {{ editable_html_obj.value|safe }}
            </div>
        </div>
       <button class="ui button start-edit">
        Edit
       </button>
       <button class="ui primary button end-edit">
        Save
       </button>
       <button class="ui primary button cancel-edit">
        Cancel
       </button>
       <div class="ui positive message updated-alert">Updated successfully</div>
    {% else %}
        <div id="editor-{{ editable_html_obj.editor_name }}" class="editor-user" contenteditable="false">
        {{ editable_html_obj.value|safe }}
        </div>
    {% endif %}

    <script>
    var editorIDName = "editor-{{ editable_html_obj.editor_name }}";
    var original_data;
    $(document).ready(function() {
        $(".start-edit").click(function() {
            CKEDITOR.disableAutoInline = true;
            var editor = CKEDITOR.inline(editorIDName, {
                startupFocus: true,
                autoGrow_onStartup: true
            });

            //Disables the automatic blur function of ckeditor.
            editor.on('blur', function(e) {
                return false;
            });
            original_data = CKEDITOR.instances[editorIDName].getData();
            $(".start-edit").hide();
            $(".end-edit").show();
            $(".cancel-edit").show();
            $(".updated-alert").hide();
            $("#" + editorIDName).attr("contenteditable","true");
        });
        $(".end-edit").click(function() {
            if ( CKEDITOR.instances[editorIDName] ) {
                var json_data = {
                    csrf_token: "{{ csrf_token() }}",
                    editor_name: "{{ editable_html_obj.editor_name }}",
                    edit_data: CKEDITOR.instances[editorIDName].getData(),
                };
                $.post("{{ url_for('main.update_editor_contents') }}", json_data);
                CKEDITOR.instances[editorIDName].destroy();
            }
            $(".end-edit").hide();
            $(".cancel-edit").hide();
            $(".start-edit").show();
            $(".updated-alert").show();
            $("#" + editorIDName).attr("contenteditable","false");
        });

        function cancelEdit(){
          if ( CKEDITOR.instances[editorIDName] ) {
                if ( original_data !== null) {
                    CKEDITOR.instances[editorIDName].setData(original_data);
                }
                CKEDITOR.instances[editorIDName].destroy();
            }
            $(".cancel-edit").hide();
            $(".end-edit").hide();
            $(".start-edit").show();
            $(".updated-alert").hide();
            $("#" + editorIDName).attr("contenteditable","false");
        }

        $(".cancel-edit").click(function() {
            cancelEdit();
        });

    });
    </script>

{% endmacro %}
